<% icon_and_label = result.error? ? "❌ Result (Error)" : "✅ Result" %>

<% if result.content.present? && result.run.steps.where.not(id: result.id).none? { |s| s.content == result.content } %>
  <div class="<%= class_names("step-result", "-error": result.error?) %>">
    <div class="label"><%= icon_and_label %></div>
    <pre class="content"><%= result.content %></pre>
  </div>
<% else %>
  <div class="<%= class_names("step-result", "-error": result.error?) %>">
    <div class="label"><%= icon_and_label %></div>
  </div>
<% end %>