<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "Task ##{task.id}", task_path(task) %> -
      <% if task.description.present? %>
        <%= task.description %>
      <% else %>
        <%= task.agent.name %>
        <% unless @project %>
          in <%= task.project.name %>
        <% end %>
      <% end %>
      <% unless @project %>
        (<%= task.created_at.strftime("%m/%d %H:%M") %>)
      <% end %>
    </li>
  <% end %>
</ul>