<h1>New Task</h1>

<%= form_with(model: [@project, @task], data: { controller: "branch-select", branch_select_project_id_value: @project.id, branch_select_hidden_class: "_hidden" }) do |form| %>
  <%= form_errors(@task) %>

  <div>
    <%= form.label :agent_id, "Agent" %><br>
    <%= form.collection_select :agent_id, Agent.kept, :id, :name %>
  </div>

  <div>
    <%= form.label :target_branch, "Target Branch" %><br>
    <%= form.select :target_branch, [], {}, { data: { branch_select_target: "select" } } %>
    <span data-branch-select-target="loading" class="_hidden">Loading branches...</span>
  </div>

  <div data-controller="prompt">
    <%= form.label :prompt %><br>
    <%= form.text_area :prompt, required: true, data: { prompt_target: "textarea", action: "keydown->prompt#keydown" } %>
  </div>

  <div>
    <%= form.submit "Launch Task" %>
  </div>
<% end %>

<%= link_to 'Back', project_tasks_path(@project) %>
