<%= form_with(model: agent) do |form| %>
  <% if agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>
      <ul>
        <% agent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :docker_image %><br>
    <%= form.text_field :docker_image %>
  </div>

  <div>
    <%= form.label :agent_prompt %><br>
    <%= form.text_area :agent_prompt %>
  </div>

  <div>
    <%= form.label :setup_script %><br>
    <%= form.text_area :setup_script %>
  </div>

  <div>
    <%= form.label :start_arguments %><br>
    <%= form.text_area :start_arguments %>
  </div>

  <div>
    <%= form.label :continue_arguments %><br>
    <%= form.text_area :continue_arguments %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
