<h1><%= @agent.name %></h1>

<p>
  Docker Image: <%= @agent.docker_image %>
</p>

<% if @agent.docker_host.present? %>
<p>
  Docker Host: <%= @agent.docker_host %>
</p>
<% end %>

<p>
  Log Processor: <%= @agent.log_processor %>
</p>

<h2>Start Arguments</h2>
<pre><code><%= @agent.start_arguments.to_json %></code></pre>

<h2>Continue Arguments</h2>
<pre><code><%= @agent.continue_arguments.to_json %></code></pre>

<% if @agent.workplace_path.present? %>
<h2>Workplace</h2>
<p>
  Path: <%= @agent.workplace_path %>
</p>
<% end %>

<% if @agent.volumes.any? %>
  <h2>Volumes</h2>
  <ul>
    <% @agent.volumes.each do |volume| %>
      <li><strong><%= volume.name %>:</strong> <%= volume.path %></li>
    <% end %>
  </ul>
<% end %>

<% if @agent.env_variables.present? %>
  <h2>Environment Variables</h2>
  <ul>
    <% @agent.env_variables.each do |key, value| %>
      <li><strong><%= key %>:</strong> <%= value %></li>
    <% end %>
  </ul>
<% end %>

<div class="agent-actions">
  <%= link_to 'Edit', edit_agent_path(@agent) %> |
  <%= link_to 'Archive', agent_path(@agent), 
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to archive this agent?' },
              class: 'archive' %> |
  <%= link_to 'Back', agents_path %>
</div>
