<h1><%= @project.name %></h1>

<p><%= simple_format(@project.description) %></p>

<p>
  Repository URL: <%= safe_external_link(@project.repository_url, @project.repository_url) %>
</p>

<h2>Actions</h2>
<div class="project-actions">
  <%= link_to 'View Tasks', project_tasks_path(@project), class: 'button' %> |
  <%= link_to 'New Task', new_project_task_path(@project), class: 'button' %> |
  <%= link_to 'Archive Project', project_path(@project), 
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to archive this project?' },
              class: 'button archive' %>
</div>

<h2>Setup Script</h2>
<pre><code><%= @project.setup_script %></code></pre>

<%= link_to 'Back', projects_path %>
