<div id="<%= dom_id(run, :chat_item) %>" class="chat-item">
  <div class="user-message">
    <%= markdown(run.prompt) %>
  </div>
  <div class="log-link">
    <%= link_to "View log", task_path(run.task, selected_run_id: run.id), class: "chat-log-link" %>
  </div>
  <% result_step = run.steps.find { |s| s.is_a?(Step::Result) } %>
  <% error_step = run.steps.find { |s| s.is_a?(Step::Error) } %>
  <% if result_step %>
    <div class="assistant-message">
      <%= markdown(result_step.content) %>
    </div>
  <% elsif error_step %>
    <div class="assistant-message">
      <% if run.prompt&.include?("Docker container") && run.prompt&.include?("failed") %>
        Docker build failed. <%= link_to "View error details", task_path(run.task, selected_run_id: run.id), class: "chat-log-link" %>
      <% else %>
        <pre><%= error_step.content %></pre>
      <% end %>
    </div>
  <% elsif run.status == "running" %>
    <div class="assistant-message">
      Processing...
    </div>
  <% end %>
</div>
