<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Summoncircle" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" data-controller="shrimp" data-shrimp-enabled-value="<%= Current.user&.shrimp_mode? %>" data-shrimp-trigger-value="<%= flash[:shrimp_explosion].present? %>">
    <%= content_for?(:nav) ? yield(:nav) : render("nav") %>
    
    <main>
      <div id="flash-messages">
        <%= render 'flash_messages' %>
      </div>
      <%= yield %>
    </main>

    <% if Rails.env.development? %>
      <div class="branch-indicator">
        <%= current_git_branch || "unknown" %>
      </div>
    <% end %>
  </body>
</html>
